@charset "utf-8";
/* CSS para modelo de cajas */
*{margin: 0%; padding: 0%;}
/* Estilos para el encabezado del tipo h2 */
h2 {
	background-color:#d49293;
	}
	
/* Estilos para la caja1 mediante su atributo id */	
#caja1 {
	background-color:#7c77c5;
	padding:25px;               /* Espacio alrededor del CONTENIDO, los 4 lados */
	margin:15px;                /* Espacio después del borde de la caja */
	}
	
/* Estilos para la caja2 mediante su atributo id */	
#caja2 {
	background-color:rgb(209, 209, 132);
	padding-top:20px;            /* Espacio después del contenido, SOLO ARRIBA */
	border-color:black;          /* Linea alrededor de la caja (Los 4 lados) */
	border-style:double;
	border-width:5px;
	}
	
/* Estilos para la lista no ordenada */	
ul {
	background-color:gray;
	border-bottom-color:rgb(117, 69, 69);     /* Linea SOLO EN LA PARTE DE ABAJO de la caja */
	border-bottom-width:5px;
	border-bottom-style:solid;
	}