@charset "utf-8";
/* CSS Document */

#contenedor{ 
   background-color:#6CF; 

   border-top-color:#000; 
   border-top-style:solid;
   border-top-width:5px;
   
   padding-left:10px;
   padding-right:10px;
}
#cabecera{ 
   background-color:#3C3;
   border-color:#000;
   border-style:solid;
   border-width:1px;
   padding-left:10px;
   padding-right:10px;
   margin-bottom:5px;
}
#menu{ 
   background-color:#33C;
   border-color:#000;
   border-style:solid;
   border-width:1px;
   padding-left:10px;
   padding-right:10px;
   margin-bottom:5px;
}
#contenido{ 
   background-color:#F90;
   border-color:#000;
   border-style:solid;
   border-width:1px;
   padding-left:10px;
   padding-right:10px;
   margin-bottom:5px;
}
#principal{ 
   background-color:#999;
   border-color:#000;
   border-style:solid;
   border-width:1px;
   padding-left:10px;
   padding-right:10px; 
   width:70%;
   margin-bottom:5px;
}
#secundario{ 
   background-color:#CFF;
   border-color:#000;
   border-style:solid;
   border-width:1px;
   padding-left:10px;
   padding-right:10px; 
   width:20%;
   margin-bottom:5px; 
   visibility:hidden;
}
#pie{ 
   background-color:#F30;
   border-color:#000;
   border-style:solid;
   border-width:1px;
   padding-right:10px;
   padding-left:10px;
}